services:
  backend1:
    image: hashicorp/http-echo
    command: ["-text=backend 1", "-listen=:8080"]
  
  backend2:
    image: hashicorp/http-echo
    command: ["-text=backend 2", "-listen=:8080"]

  lb:
    build: 
      context: ..
      dockerfile: infra/Dockerfile
    depends_on:
      - backend1
      - backend2
    ports:
      - "3030:3030"
    command: [
      "./lb",
      "-backends=http://backend1:8080,http://backend2:8080",
      "-port=3030"
    ]

